
[dbms]
[dbms.postgres]
host="127.0.0.1"
user="postgres"
password="postgres"
db="*"
port="5432"


[storage]
[storage.s3]
url="
backetName=""
accessKey=""
secretAccessKey=""
region=""
pathInBucket=""

[storage.local]
path=""


[notifications]
[notifications.email]
smtpServer=""
sender=""
port=
password=""
receiver=""

